@charset "utf-8";
/* CSS Document */
/* Yeah, cheers for that DreamWeaver. I wouldn't have known it was a CSS document if you hadn't said. */

* {
	margin: 0;
	outline: none;
	padding: 0;
}

html {
	text-align: center;
}

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0 auto;
	min-width: 300px;
	padding: 80px 0;
	text-align: left;
	width: 66%;
}

h1, p {
	line-height: 1.5em;
	padding: 0.75em 0;
}